{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "env": {
    "production": {
      "comments": false
    }
  }
}
